In [ ]:
# https://prog-geo.github.io/introducao-programacao/exemplos.html

In [16]:
import matplotlib.pyplot as plt
import pandas

In [17]:
print("Hello World!")

Hello World!

### Exemplo 02

In [18]:
A = 3.0
B = -2.0
C = -6.0

x = float(input('\n x: '))   # lê x
y = float(input(' y: '))   # lê y

r = A*x + B*y + C

print("\n ({0}, {1}): {2} \n".format(x, y, r))

if r == 0:
    print(" Sobre a reta!")
elif r < 0:
    print(" Acima da reta!")
else:
    print(" Abaixo da reta! \n")

 x: 1
 y: 2

 (1.0, 2.0): -7.0

 Acima da reta!

In [19]:
# Exemplo 01

soma = 0

for i in range(1, 6):
    soma = soma + i

print(f"soma: {soma}")

soma: 15

In [20]:
# Exemplo 02

data = {"Fahrenheit":[],"Celsius":[]}
for fahr in range(0, 320, 20):
    celsius = 5 * (fahr - 32) / 9
    data["Fahrenheit"].append(fahr)
    data["Celsius"].append(celsius)
data = pandas.DataFrame.from_dict(data)
data

    Fahrenheit     Celsius
0            0  -17.777778
1           20   -6.666667
2           40    4.444444
3           60   15.555556
4           80   26.666667
5          100   37.777778
6          120   48.888889
7          140   60.000000
8          160   71.111111
9          180   82.222222
10         200   93.333333
11         220  104.444444
12         240  115.555556
13         260  126.666667
14         280  137.777778
15         300  148.888889

In [21]:
# Exemplo 03

n = int(input("\n N: "))

if n > 0 and n <= 10:
    fatorial = 1
    for i in range(1, n + 1):
        fatorial = fatorial * i
    print(f"\n Fatorial: {fatorial}")
else:
    print("\n Fora do intervalo!\n")

 N: 5

 Fatorial: 120

In [22]:
# Exemplo 05

x = float(input("\n x: "))
y = int(input(" y: "))

resultado = 0
if y >= 0:
    resultado = 1
    for i in range(1, y + 1):
        resultado = resultado * x

print(f"\n Resultado: {resultado}\n")

 x: 2
 y: 3

 Resultado: 8.0

In [23]:
# Exemplo 06

n = int(input("\n N: "))

primo = True

for i in range(2, n):
    if (n % i == 0):
        primo = primo and False
        break

if primo:
    print(f"\n {n} é um número primo!")
else:
    print(f"\n {n} não é um número primo!\n")

 N: 9

 9 não é um número primo!

In [24]:
# Exemplo 10
vetor = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
s = 0
for i in vetor:
    s = s + i
print(s)

232

In [25]:
# Exemplo 11
red_values = (
    168, 398, 451, 337, 186, 232, 262, 349,
    189, 204, 220, 220, 207, 239, 259, 258,
    242, 331, 251, 323, 106, 1055, 170
)

nir_values = (
    2346, 4431, 4638, 4286, 2752, 3521, 2928, 3087,
    2702, 2685, 2702, 2865, 2835, 2955, 3019, 3391,
    2986, 4042, 3050, 3617, 2478, 3361, 2613
)

timeline = (
    "2015-01-01", "2015-01-17", "2015-02-02", "2015-02-18",
    "2015-03-06", "2015-03-22", "2015-04-07", "2015-04-23",
    "2015-05-09", "2015-05-25", "2015-06-10", "2015-06-26",
    "2015-07-12", "2015-07-28", "2015-08-13", "2015-08-29",
    "2015-09-14", "2015-09-30", "2015-10-16", "2015-11-01",
    "2015-11-17", "2015-12-03", "2015-12-19"
)

ndvi = []
for red_value, nir_value in zip(red_values, nir_values):
    ndvi.append(
        (nir_value - red_value) / (nir_value + red_value)
    )
ndvi = tuple(ndvi)
ndvi

(0.8663484486873508,
 0.8351625595361358,
 0.8227549616820593,
 0.854207224745836,
 0.8733832539142273,
 0.8763655742073009,
 0.8357366771159874,
 0.7968568102444703,
 0.8692493946731235,
 0.8587746625129803,
 0.8494182067077344,
 0.8573743922204214,
 0.863905325443787,
 0.8503443957420163,
 0.8419768151311775,
 0.8585913949027131,
 0.8500619578686494,
 0.8486165104047565,
 0.847924871251136,
 0.8360406091370558,
 0.9179566563467493,
 0.5221920289855072,
 0.8778296802012217)